<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc><%= Routes.tutorial_url(@conn, :index) %></loc>
    <lastmod>2019-06-13</lastmod>
  </url>
  <%= for tutorial <- @tutorials do %>
  <url>
    <loc><%= "https://functuts.com" <> Routes.tutorial_path(@conn, :show, tutorial[:slug]) %></loc>
    <lastmod><%= tutorial[:last_modified] %></lastmod>
  </url>
  <% end %>
</urlset> 