@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "prism.css";
@import "content.css";

.menu {
  @apply .hidden .fixed .bg-white .shadow-lg .w-full .top-0 .left-0;
}

.main {
  margin-top: 20px;
}

.tilted-right {
  transform: rotate(1deg);
}

.tilted-left {
  transform: rotate(-2deg);
}

@screen md {
  .menu {
    @apply .block .fixed .h-screen .bg-white .border-r .shadow-none;
    width: 240px;
  }

  .main {
    margin-top: 0;
    margin-left: 240px;
    max-width: 740px;
  }
}
